* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  color: black;
}


.container{
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  box-shadow: 2px 4px 8px gray;
  
}


.title-name{
  margin-bottom: 10px;
  padding: 10px;
  color: rgb(82, 82, 83);
  border-radius: 5px;
  box-shadow: 1px 2px 4px gray;
}

.inputs{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
  
}

.title-text{
  padding: 10px;
  border: 1px solid rgb(82, 82, 83);
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 1px 2px 4px gray;
}

.description-text{
  padding: 8px;
  border: 1px solid rgb(82, 82, 83);
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 1px 2px 4px gray;
}

.inputs button{
  padding: 12px 24px;
  background-color: rgb(241, 241, 250);
  box-shadow: 0 5px 0 #bdbdbd;
  color: rgb(82, 82, 83);
  font-weight: bold;
  margin-bottom: 10px;
 border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}


.inputs button:active{
  background-color: #a09f9f;
  transform: translateY(3px);
  box-shadow: 0 2px 0 #777777;

}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
  margin-bottom: 10px;
  padding: 10px;
}

.filters button {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #007bff;
  background-color: white;
  color: rgb(22, 22, 104);
  cursor: pointer;
  border-radius: 5px;
}

.filters button:hover{
  background-color: #5558e4;
  color: white;
  box-shadow: 0 5px 0 #5558e4;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 4px gray;
}

 .task-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

 .task-content .text h3 {
  margin: 0;
  font-size: 16px;
} 

.task-content .text p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

body.dark-mode .task{
  background-color: #2c2c2c;
  border: 1px solid #90caf9;
  box-shadow: 1px 2px 4px #333;
}

body.dark-mode .text p,
body.dark-mode .text h3
{
  color: #dfdcdc;
}

.timestamp {
  font-size: 0.8rem;
  color: gray;
  margin-top: 5px;
}

.task.completed .text h3,
.task.completed .text p {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}

 .task-actions {
  display: flex;
  gap: 7px;
} 

.task-actions button {
  padding: 5px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}  

.edit-btn{
  color: rgb(8, 192, 8);
}
.del-btn{
  color: rgb(235, 23, 23);
}

.toggle-btn{
  padding: 12px 24px;
  background-color: rgb(241, 241, 250);
  box-shadow: 0 5px 0 #bdbdbd;
  border: none;
  color: rgb(82, 82, 83);
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s ease-out;
}

 .toggle-btn:active{
  background-color: #444;
  transform: translateY(3px);
  box-shadow: 0 2px 0 #444;

}


/* Dark Mode css */

body .dark-mode{
  background-color: black;
  color: white;
}

body.dark-mode .container{
  background-color: #333333;
}

body.dark-mode .title-name{
  color: #90caf9;
  border: 1px solid #90caf9;
  box-shadow: 1px 2px 4px #333;
}

body.dark-mode .title-text,
body.dark-mode .description-text{
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #90caf9;
  box-shadow: 1px 2px 4px #333;
}

body.dark-mode .inputs button{
  background-color: #333;
  box-shadow: 0 5px 0 #111;
  color: #dfdcdc;
}

body.dark-mode .task{
  background-color: #2c2c2c;
  border: 1px solid #90caf9;
  box-shadow: 1px 2px 4px #333;
}

body.dark-mode .text p,
body.dark-mode .text h3
{
  color: #dfdcdc;
}

body.dark-mode .toggle-btn{
  background-color: #333;
  box-shadow: 0 5px 0 #111;
  color: #dfdcdc;
}